html, body{
	font-family: 'Roboto', sans-serif;
	background-color: rgb(250,250,250);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
align-items: center;
	/*vertical-align: center;*/
	flex-wrap:wrap;


}



#lebouton{
	margin-top: 55px;
		width: 63px;
		height:66px;



}


	#suitedeux{
		width: 63px;
		height:66px;
		background-image: url("intro/suite.png");
		background-position: center;
		background-size: cover;
		position: fixed;
		z-index: 1;

	}

	#suite{
		width: 63px;
		height:66px;
		background-image: url("intro/lasuite.png");
		background-position: center;
		background-size: cover;
		position: fixed;
		z-index: 2;
		opacity: 0;
	}

	#suite:hover{

		opacity: 1;
	}








#text{
	width: 70%;
	font-size: 1.2em;
	text-align:left;
	color: rgb(0,155,84);
	line-height: 1.2em;

	z-index: 2;

}


a:link {
	color: rgb(236,229,78);
}

/* visited link */
a:visited {
	color: rgb(236,229,78);
}

/* mouse over link */
a:hover {
	color: rgb(99,78,153);
	text-decoration: underline dotted;
}




.gras{
	color: rgb(7,87,52);

}
